div#footer.container-fluid.p-t-2
    div.row.p-b-2
        article.col-xs-12.text-xs-center.col-sm-3
            img.img-fluid(ng-src="/images/s28.png")
        address.col-xs-12.text-xs-center.text-sm-left.col-sm-8.md-font
            section  Keller Fashions
            section  P. O. Box 28
            section  Accra-Central
            section
                a(href="mailto:kellerfashionsgh@gmail.com") email us @keller Fashions
            section +23324 494 0573
            section.m-t-2
                a.p-r-2(href="https://www.facebook.com/keller Fashions")
                    img(ng-src="/images/facebook.png")
                a.p-r-2(href="https://www.instagram.com/keller Fashions")
                    img(ng-src="/images/instagram.png")
                a(href="/message" data-toggle="tooltip" title="click to send us a message" data-placement="top")
                    img(ng-src="/images/hacks.jpeg")

    div#author.text-xs-right.p-b-1
        span.text-white.p-r-1.xs-font powered by:
        a.btn-group.btn-group-sm(href="https://dannymcwaves.herokuapp.com")
            button.btn.btn-sm.btn-danger.xs-font DANNY
            button.btn.btn-sm.btn-success.xs-font McWAVES
